#mui-component-select-wallet_id{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MuiListItemText-root {
    display: flex;
    justify-content: center;
}

#mui-component-select-category_id{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
